/* animations.css */
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .job {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .benefit{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .review{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .source-item{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  /* animations.css */
#benefits h2,
#benefits p {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
#welcome h2,
#welcome p,
#welcome li {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

  
  
